.login-container h1 {
  font-weight: bold;
  font-size: 45px;
  margin: 0 0 30px 0;
}
/* 소제목 박스 */
.title-box {
  margin: 30px;
}
/* 전체 박스 크기 설정 텍스트 위치 */
.login-container {
  
  padding: 40px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container button {
  width: 32%; /* 부모 요소의 너비에 맞춤 */
  padding: 10px; /* 내부 여백 */
  border-radius: 4px; /* 모서리 둥글기 */
  border: 1px solid #ccc; /* 테두리 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 박스 크기 */
  font-weight: bold;
}

/* 아이디 찾기, 비밀번호 찾기, 회원가입 목록 묶음*/

.List a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.List a {
  text-decoration: none;
  color: black;
  padding: 40px;
}
.List {
  display: -webkit-inline-box;
  margin-top: 30px;
}
p {
  color: #e4dada;
}

/* 소 제목 */
.title {
  padding: 20px;
}



.title h2{
  font-weight: bold;
  padding: 10px;
}

h1, h6{
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

/* 인풋,버튼 위 아래 너비 */
.input-value {
  padding: 4px;
  text-align: center;
}
 .input-save {
  margin-right: 26%;
  padding: 5px;
}


/* grop 가입 정보가 있는 유저 확인 페이지 */
.grop {
  border: 1px solid #ddd;
}

/* 회원가입 아이디가 4글자 미만일 때 글씨 색깔 */
.memberId-error{
  color: rgb(112, 98, 98);
  padding: 5px;
}






